<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="{{ site.baseurl }}/contact">Contact us</a></li>
            <li><a href="#">How it works</a></li>
            <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
            <li><a href="#">Terms</a></li>
          </ul>
        </div>
        <p>Copyright &copy; 2022 vNATCA - Design &amp; Developed by <a href="http://www.themefisher.com">Themefisher</a>. All rights reserved.</p>
        <p>VNATCA is in no way associated with, condoned or endorsed by <a href="https://natca.org">NATCA</a>. The quotes in the testimonials are fictitious and made up, the people "quoted" have not made any such statement. It's all inn good fun! Happy April fools!</p>
      </div>
    </div>
  </div>
</footer>
